<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div #view></div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Page properties
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-controls-grid [items]=pageItems></app-controls-grid>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Donate
            </mat-panel-title>
        </mat-expansion-panel-header>
        <iframe src="/static/donate.html" target="_self"></iframe>
    </mat-expansion-panel>        
</mat-accordion>