@import '../styles';

.layout {
    display: flex;
    flex-direction: column;

    height: 100vh;
    overflow: hidden;

    .canvas {
        flex: 1 1 80%;
        height: 70%;
    }

    .panel {
        flex: 1 1 20%;
        height: 30%;
        overflow: auto;
    }

    @include breakpoint(medium) {
        flex-direction: row;

        .canvas {
            height: 100%;
        }
    
        .panel {
            height: 100%;
        }
    }
}